/* imports  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 16px;
}
span, p, h1, h2, h3{
     font-family: 'Source Sans Pro', sans-serif;
}
h1 {
     font-size: 2rem;
}
h2 {
     font-size: 1.8rem;
}
h3 {
     font-size: 1.5rem;
}
main {
     background-color: #587a59;
}

/******************************************
/* LAYOUT
/*******************************************/


/* shared layout styles  */
.about, .projects, .skills {
     margin-left: 3rem;
     margin-right: 10rem;
}

.wrapper {
     display: flex;
     
}

/* side layout */
.side {
     height: 2100px;
     min-width: 30%;
     max-width: 40%;
     position: relative;
     overflow-x: hidden;
     display: flex;
     flex-flow: column wrap;
     justify-content: space-around;
     align-items: flex-end;
     padding-right: 3rem;
}
 .side-top /*.side-bot*/{
     position: fixed;
} 
.side-top {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     top: 0;
     padding-top: 10%;
     padding-left: 2rem;
     padding-right: 2rem;
}
.side-top img {
     width: 150px;
     border-radius: 55%;
     margin-bottom: 2rem;
}
.side-bot {
     top: 0;
     padding-top: 30%;
}
.side-bot ul {
     display: flex;
     flex-direction: row;
     gap: 2rem;
}

/*  main styles layout  */
.main {
     display: flex;
     min-width: 50%;    
}

/*  about styles layout  */
.about button {
     margin-top: 3rem;
     padding: 1rem 2rem;
     border-radius: 5px;
}
.about, .projects {
     border-bottom: 1px solid #D0D3D5;
}
/*  projects styles layout  */
.projects, .skills {
     margin-top: 3rem;     
}
.projects {
     padding-bottom: 3rem;
}
.proj-container {
     margin-top: 2rem;
}
.proj-row {
     display: flex;
     gap: 5rem;
     margin-bottom: 2rem;
}
.cards {
     display: flex;
     flex-direction: column;
}
.card-img img {
     height: auto;
     width: 100%;
     border-radius: 8px;
}

/*  skill styles layout  */
.skills {
     margin-bottom: 5rem;
}.skills h2 {
     margin-bottom: 1.5rem;
}
.skill-row {
     display: flex;
     justify-content: space-around;
     gap: 3rem;
}
.skill-row li {
     margin-left: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.side {
     background: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url("../assests/img/window.jpg");
     background-size : cover;     
}
.side span {
     color:#fff;
     font-size: 1.35rem;
     line-height: 1.7;
}
.side-bot ul {
     list-style-type: none;     
}
.side-bot a {
     text-decoration: none;
}
.side-bot i {
     color:#fff;
     font-size: 1.7rem;
}
/*  main styles   */


/*  about styles   */
.about {
     margin-top: 8rem;
     padding-bottom: 5rem;     
}
.about h1, .about p {
     line-height: 1.5;
}
.about p, .about span {     
     line-height: 2.5rem;
     font-size: 1.2rem;
}
.about button {     
     border: 2px solid lightgray;
     background-color: #6e736e;
     background-color: #b6956b;
}
.about a {
     color: white;
     font-size: 1.2rem;
     text-decoration: none;    
}

/*  projects styles   */



/*  skills styles  */

/* 
     Media queries
*/
@media all and (max-width: 1554px){
     .side-top{          
          align-items: center;
     }
     .side span{
          font-size: 1.35rem;
     }
}

@media all and (max-width: 1024px) {
     h1 {
          font-size: 2.2rem;
     }
     .wrapper {
          flex-direction: column;
     }
     .about, .projects, .skills {
          margin-left: 5rem;
          margin-right: 5rem;
     } 
                              /*  Side section  */
     .side {
          position: initial;
          min-width: 100%;
          height: 30%;
          align-items: center;
     }
     .side span {
          font-size: 1.7rem;
     }
     .side-top {
          position: initial;
          align-items: center;         
     }     
     /* .side-top img, .side-bot {
         margin-left: 5rem;
     } */
     .side-bot {
          padding-top: 3rem;
          padding-bottom: 3rem;
     }
                              /* Main section */
     .main {
          width: 100vw;
     }
                              /* About section */
     .about {
          margin-top: 3rem;
     }
     .about p, .about span {
          font-size: 1.3rem;
     }
 }

 @media all and (max-width: 509px) {
     h1, .side span{
          font-size: 1.4rem;
     }
     .about p, .about span {
          font-size: 1rem;
     }
     h2 {
          font-size: 1.6rem;
     }
     h3 {
          font-size: 1.3rem;
     }     
     .proj-row{
          flex-direction: column;
          gap: 1rem;
     }
     .skill-row {
          flex-direction: column;          
     }
 }